.cart-card-container {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  user-select: none;
}
.delete-btn img {
  width: 20px;
  display: flex;
}
.delete-btn {
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.8;
  background-color: white;
}
.delete-btn:hover {
  opacity: 1;
}
.card-category-action {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
}
.card-catagory-info {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}
.card-catagory-image img {
  width: 120px;
  padding: 3px;
}
.card-catagory-image {
  display: flex;
  justify-content: center;
}
.icon {
  cursor: pointer;
}
