.food-card-container{
    background-color: #f8f8f8;
    width: 270px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
   text-align: center;
   transition: transform 0.3s ease-in-out;
   cursor: pointer;
   border-radius: 10px;
   padding: 10px;

}
.food-card-container:hover{
    box-shadow: 10px 10px   15px gray;
    transform: scale(1.05);
    border: 1px solid #17a2b8;
    border-left: 2px solid #17a2b8;

}
.food-card-container img{
    margin: 0 auto;
    padding: 10px;
    width: 260px;
}

@media (max-width:720px){
    .food-card-container img{
        margin: 0 auto;
        padding: 10px;
        width: 200px;
    }
    .food-card-container{
        width: 210px;
        height: 400px;
        border: 1px solid #17a2b8;
        border-left: 2px solid #17a2b8;
    
    }
}