.form-container{ 
    margin: 0 auto;
    width: 350px;
}
.form-container fieldset{
    padding:10px;
    width: 350px;

}
.form-container input{
    padding:5px;
    width: 350px;
}
.book-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.form-container .btn{
    width: 80px;
    margin: 0 auto;
}
@media(max-width:720px){
    input,span{
        font-size: 10px;
    }
    .form-container{ 
        margin: 0 auto;
        width: 270px;
    }
    .form-container fieldset{
        padding:10px;
        width: 250px;
    
    }
    .form-container input{
        padding:5px;
        width: 250px;
    }
    .book-input{
        display:flex;
        flex-direction: column;
        text-align: center;
        grid-gap: 0;
    }
}
