.food-details-container {
  margin: 50px auto;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
  grid-column-gap: 30px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.food-details {
  display: grid;
  max-width: 450px;
  grid-template-rows: 100px 50px auto 60px 80px;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  text-align: justify;
}
.food-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.food-image img {
  margin: 0 auto;
  max-width: 70%;
}
.quantity-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 1px solid teal;
  width: 120px;
  padding: 5px 10px;
  border-radius: 5px;
}
.quantity-div button {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.quantity-div button:hover {
  background-color: white;
  outline: none;
  border: none;
}
.price-div {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.btn-cart {
  background-color: red;
  padding: 5px 10px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
}
.btn-cart:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
